{
  "env": {
    "development": {
      "presets": ["es2015"],
      "plugins": [
        "babel-plugin-transform-decorators-legacy",
        ["babel-plugin-transform-builtin-extend", {
          "globals": ["Error"]
        }],
        "transform-object-rest-spread",
        "transform-async-to-generator"
      ]
    },
    "firefox": {
      "plugins": [
        "babel-plugin-transform-decorators-legacy",
        ["babel-plugin-transform-builtin-extend", {
          "globals": ["Error"]
        }],
        "transform-es2015-modules-commonjs",
        "transform-object-rest-spread"
      ]
    }
  }
}
